@import url("./variables.css");

body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
    width: 100%; /* Full-width image for mobile */
    height: auto;
  }

/* Footer styles */

.footer-logo {
    color: var(--green);
}

.attribution { 
    font-size: 12px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
    
  
   
  }