@import url("./variables.css");


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
  }

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
    font: var(--fraunces-heading);
    text-transform: uppercase;
}

h2 {
    font: var(--fraunces-heading);
}

h3 {
    font: var(--fraunces-subheading)
}

p {
    font: var(--barlow-body);
}

img {
    width: 100%; /* Full-width image for mobile */
    height: auto;
  }

/* Header styles  */

header {
    position: relative;
    overflow: hidden;
    height: 580px;
    width: 100%;
}

.header-image {
    position: absolute;
    top: 0; 
    left: 0;
    object-fit: cover;
    z-index: 0;
}

.header-content {
    position: relative; 
    z-index: 1; 
    padding: 20px;
    color: white; 
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: end;
}

nav li {
    padding: 16px;
    font: var(--barlow-header);
}

header h1 {
    letter-spacing: 8px;
}

.logo {
    height: 1.5rem;
    width: auto;
}

/* Testimonials section */
.testimonial-photo {
    height: 60px;
    width: auto;
    border-radius: 50%;
}
/* Footer styles */

footer {
    background-color: var(--footer-background);
    padding-bottom: 24px;
}

.footer-logo {
    color: var(--yellow);
    height: 2rem;
    width: auto;
}

.footer-menu {
    font: var(--barlow-header);
    color: var(--green);
}

.social-icons {
    max-height: 40px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-icons li {
    padding: 1rem;
}

.attribution { 
    font-size: 12px; 
    text-align: center;
}

.attribution a {
    color: var(--green);
}

@media (min-width: 768px) {
    header {
        height: 800px;
    }
  
   
  }